.button {
  padding: 1rem 1.5rem;
  font-size: 20px;
  color: white;
  width: fit-content;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.1s linear;
  /* margin-bottom: 1rem; */
}
.button:hover{
    opacity: .9;
}

.button:active {
  transform: scale(0.95);
}
